<h3 class="h3 mb-3 font-weight-normal text-center">{{playlist?.title}}</h3>
<section class="m-1">
  <img class="img-thumbnail rounded float-left m-1" src="assets/images/{{ playlist?.image }}" alt="{{ playlist?.image }}" />
  <p class="d-inline text-justify m-1">{{playlist?.description}}</p>
</section>

<app-songs-grid [rowData]="songs"></app-songs-grid>

<button data-bs-toggle="modal" data-bs-target="#AddSongModal"class="m-2 btn btn-primary"><i class="fa-solid fa-plus"></i> Add Song</button>


<div class="modal fade" id="AddSongModal" data-toggle="modal" data-target=".AddSongModal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Add song to playlist</h5>
        <button type="button" class="close btn btn-outline-danger" data-bs-dismiss="modal" aria-label="Close">
          <i class="fa-solid fa-times"></i>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="form">
          <div class="form-group">
            <select class="form-select" id="select_box" formControlName="song">
              <ng-container *ngFor="let artist of allSongs | async">
                <option value="{{ artist.id }}">{{ artist.title }} - {{ artist.artist.name }}</option>
              </ng-container>
            </select>
          </div>

          <div class="modal-footer">
            <button type="submit" (click)="submitAddSongForm()" class="btn btn-primary" data-bs-dismiss="modal">Submit</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
